@import "vars"

.sidebar
  width: 263px

  h3
    margin: 0 0 40px

.catalog
  padding: 0 0 80px

  h1
    font-size: 30px
    margin: 0 0 20px
    text-align: left
    line-height: normal

  .box-text
    line-height: 135%

  .container
    align-items: flex-start

.btn-view
  width: 100%
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  margin: 5px 0 0
  color: #2E84E9

.btn-view__text
  text-decoration: underline

.btn-view:after
  content: ''
  display: inline-block
  width: 10px
  height: 5px
  background: url("../images/arrow-blue.svg") no-repeat center
  background-size: contain
  margin: 0 0 0 10px


.form-search
  position: relative
  margin: 20px 0
  width: 100%
  input
    background: #fff
    border: 1px solid #C8D0D8
      radius: 5px
    padding: 0 20px 0 51px
    font-size: 16px
    color: $accent
    &::placeholder
      color: #828282

.btn-search
  width: 16px
  height: 16px
  display: flex
  align-items: center
  justify-content: center
  background: transparent
  position: absolute
  left: 20px
  top: 50%
  transform: translate(0,-50%)

.catalog-content
  width: calc(100% - 263px)
  padding: 0 0 0 30px

.sorting-wrapper
  width: 100%
  margin: 0 0 20px
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between

.sorting-box
  display: flex
  align-items: center
  color: #828282

  label
    width: fit-content
    margin: 0 0 0 10px

.select-sorting
  height: auto
  padding: 0 20px 0 0
  color: #3A3A3A
  background: url("../images/arrow-select.svg") no-repeat right center
    size: 10px

.pagination
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin: 20px auto 0
  font-family: 'Roboto', sans-serif
  li
    a
      display: flex
      align-items: center
      justify-content: center
      width: 24px
      height: 30px
      color: #303030
      letter-spacing: 0.01em
      border: 1px solid transparent
        radius: 3px

      &:hover
        color: $btn

    .active
      border-color: #546B7B

    &:first-child
      margin: 0 15px 0 0

    &:last-child
      margin: 0 0 0 15px

.sidebar-close
  position: relative
  display: none
  align-items: center
  justify-content: center
  width: 20px
  height: 20px
  margin: 0 0 20px auto

.panel_heading
  width: 100%
  margin: 0 0 40px
  cursor: pointer
  &:last-child
    margin: 0

.in
  .block_title
    &:after
      opacity: 0

.block_title
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between

  h4
    text-transform: uppercase
    color: #546B7B
    font-weight: bold
  &:after
    content: ''
    display: inline-block
    width: 14px
    height: 7px
    background: url("../images/arrow-bottom2.svg") no-repeat center
      size: contain

.block_hover
  padding: 19px 0 0
  width: 100%

.slider-range-wrapper
  width: 100%

.slider-range.ui-widget.ui-widget-content
  border: none
  width: 100%
  background: #546B7B
  height: 2px
  margin: 25px 0 0
  .ui-slider-range
    background: #546B7B
  .ui-slider-handle
    background: #546B7B
    width: 20px
    height: 20px
    border: none
      radius: 50%
    top: -10px
    outline: none
    box-shadow: none

.range_val
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap
  input
    width: calc(50% - 5px)
    height: 38px
    border: 1px solid #C4C4C4
    padding: 0
    text-align: center
    color: #303030
    font-size: 14px

.clear-filter
  width: 100%
  display: none
  align-items: center
  margin: 20px 0 0
  color: #3A3A3A

  &__icon
    margin: 0 15px 0 0
    display: flex
    align-items: center
    justify-content: center
    width: 15px
    height: 15px

.checkbox
  width: 100%
  display: flex
  align-items: center
  cursor: pointer
  color: #3A3A3A
  margin: 0

.checkbox-inp
  display: none

.checkbox-custom
  position: relative
  margin: 0 10px 0 0
  width: 20px
  height: 20px
  min-width: 20px
  border: 1px solid #C4C4C4
    radius: 3px
  &:before
    content: ''
    position: absolute
    width: 11px
    height: 7.5px
    transition: .3s ease
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)


.checkbox-inp:checked + .checkbox-custom
  background: #546B7B
  border-color: #546B7B
  &:before
    background: url("../images/checkbox.svg") no-repeat center
      size: contain

.list-checkbox
  width: 100%
  li
    margin: 0 0 15px
    &:last-child
      margin: 0


.btn-filter
  display: none
  height: 40px
  text-transform: uppercase
  max-width: 150px



@media (max-width: 700px)
  .sidebar
    display: none
    position: fixed
    left: 0
    top: 0
    height: 100%
    background: #fff
    z-index: 7
    padding: 30px 20px
    overflow-y: auto
    box-shadow: 0 0 10px rgba(#000, .3)
    h3
      margin: 0 0 30px

  .sidebar-close, .clear-filter
    display: flex

  .btn-filter
    display: flex
    text-transform: uppercase

  .catalog-content
    width: 100%
    padding: 0

@media (max-width: 480px)
  .sorting-wrapper
    flex-direction: column
    align-items: flex-start

  .sorting-box
    margin: 0 0 10px

  .catalog
    padding: 0 0 40px
    h1
      font-size: 24px
    .col-25
      width: 50%

  .form-search input
    font-size: 14px